<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link
    href="https://bootswatch.com/4/superhero/bootstrap.css"
    rel="stylesheet">

    <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

    <title>{% block title %} TITLE GOES HERE {% endblock %}
    </title>

</head>

<body class="container">
    {% for msg in get_flashed_messages() %}
    <p>{{ msg }}</p>
    {% endfor %}

    {% block content %}
    {% endblock %}
</body>

</html>