{% extends "base.html" %}

{% block title %} Edit Note {% endblock %}

{% block content %}

<h1>Add Your Note</h1>

<form id="edit-note" method="POST">
    {{ form.hidden_tag() }}
    <!--add type=hidden form fields -->

    {% for field in form
    if field.widget.input_type != 'hidden' %}

    <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>

    {% endfor %}

    <button type="submit" class="btn btn-primary"> Save </button>
</form>

{% endblock %}