{% extends "base.html" %}

{% block title %} User Detail {% endblock %}

{% block content %}

<div>
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <div>Username: {{ user.username }}</div>
    <div>Email: {{ user.email }}</div>

</div>

<form action="/logout" method="POST" id="log-out" >
    {{ form.hidden_tag() }}
    <!--add type=hidden form fields -->

    {% for field in form
    if field.widget.input_type != 'hidden' %}

    <!-- <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p> -->

    {% endfor %}
    <button type="submit" class="btn btn-primary">
        Log Out
    </button>
</form>




{% endblock %}