{% extends "base.html" %}

{% block title %} User Detail {% endblock %}

{% block content %}

<div>
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <div>Username: {{ user.username }}</div>
    <div>Email: {{ user.email }}</div>
    <br>
    <h3>Notes</h3>

    <div class="note-section">
    {% if user.notes %}
        {% for note in user.notes %}

            <div>
                <a href="/notes/{{ note.id }}/update" method="POST"><i class="far fa-edit"></i></a>
                <a href="/notes/{{ note.id }}/delete" method="POST"><i class="far fa-trash-alt"></i></a>
                <b>{{ note.title }} </b>
                <div> {{ note.content }}</div>
            </div>

        {% endfor %}
    {% endif %}
    <a href="/users/{{ user.username }}/notes/add" class="btn btn-primary">Add a Note</a>
    </div>

</div>
<br>
<form action="/logout" method="POST" id="log-out" >
    {{ form.hidden_tag() }}

    {% for field in form
    if field.widget.input_type != 'hidden' %}

    {% endfor %}
    <button type="submit" class="btn btn-primary">
        Log Out
    </button>
</form>
<br>
<form action="/users/{{ user.username }}/delete" method="POST" id="delete" >
    {{ form.hidden_tag() }}

    {% for field in form
    if field.widget.input_type != 'hidden' %}

    {% endfor %}
    <button type="submit" class="btn btn-primary">
        Delete User
    </button>
</form>



{% endblock %}